Package: coffee-break
Version: 1.0.0
Architecture: amd64
Maintainer: Filippov Alex <filippov.a@e154.ru>
Installed-Size:
Depends: qt5-default (>= 5.3.2), libqt5webkit5 (>= 5.3.2), libopenal1 (>= 1:1.15), libnotify4 (>= 0.7.6)
Suggests:
Breaks:
Replaces: nautilus-coffee-break
Provides: nautilus-coffee-break
Section: misc
Priority: optional
Homepage: https://www.e154.ru/blog/
Description: Watch description.

