Package: Watcher
Version: 1.0.0
Architecture: i386
Maintainer: Filippov Alex <filippov.a@e154.ru>
Installed-Size:
Depends: qt5-default, libqt5webkit5, libopenal1
Suggests:
Breaks:
Replaces: nautilus-watcher
Provides: nautilus-watcher
Section: misc
Priority: optional
Homepage: https://www.e154.ru/blog/
Description: Watch description.

