<div class="bsod">
    <p>Windows has been detected and your computer has been shut down to prevent damage to your brain.</p>
    <br/>
    <p>DRIVER_JIM_NOT_LESS_OR_EQUAL__WHATEVER_THAT_MAY_MEAN</p>
    <br/>
    <p>If this is the first time you have seen this stop error screen, restart your computer. If this screen appears again,follow these steps:</p>
    <br/>
    <p>Check to make sure any new hardware or software is properly installed. If this is a new installation, ask your hardware or software manufacturer for any Windows updates you might need.</p>
    <p>If problems continue, disable or remove any newly installed hardware or software. Disable BIOS memory options such as caching or shadowing.
        If you need to use Safe Mode to remove or disable components, restart your computer, press F8 to select Advanced Startup Options, and then select Safe Mode.</p>
    <br/>
    <p>Technical information:</p>
    <br/>
    <p>*** STOP: 0x00000050 (0x8872A990, 0x00000001, 0x00000000)<br/>
    *** lsass.exe - Address ED80AC55 base at ED88F000, Date Stamp 3dcb24d0</p>
    <p>*** uptime - {{lock.uptime_total}}<br/>
    *** uptime idle - {{lock.uptime_idle}}<br/>
    *** lock - {{lock.lock}}<br/>
    *** lock time - {{lock.lock_const}}<br/>
    *** total work - {{lock.total_work}}<br/>
    *** total idle - {{lock.total_idle}}<br/>
    *** unlock wait - {{lock.unlock_wait}}</p>
    <br/>
    <p>Beginning dump for physical memory<br/>
        Physical memory dump complete.<br/>
        Contact your system administrator or technical support group for further assistance.</p>
    <p></p>
</div>