[Desktop Entry]
Name=Coffee Break
GenericName=Coffee Break
Comment=
Exec=coffee-break
Terminal=false
Type=Application
Icon=watcher
Categories=Misc;
StartupNotify=false
