[Desktop Entry]
Name=Watcher
GenericName=Watcher
Comment=
Exec=watcher
Terminal=false
Type=Application
Icon=watcher
Categories=Misc;
StartupNotify=false
